
body {
    margin: 0%;
    width: 100%;
    height: 100%;

  }
  .topnav {
    background: rgb(129,0,127);
    background: linear-gradient(179deg, rgba(129,0,127,1) 0%, rgba(98,0,157,1) 75%, rgba(63,0,192,1) 97%, rgba(129,0,127,1) 100%);  margin-top: -20px;
  }
  
  .topnav ul{
  text-align: center;
  }
  
  .topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  
  }
  .topnav li{
    list-style-type: none;
  display: inline-block;
  padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  }
  
  .topnav a:hover {
  color: rgb(237, 211, 116);
  
  
  }
  
  .topnav a.active {
  background-color: rgb(255, 202, 10);
  color: rgb(0, 0, 0);
  border-radius: 10px;/*curve of the border */
  border-style: double
  }
  .mobilenav{
    display: none;
  }


  footer/*footer style*/
  {
    background: rgb(129,0,127);
    background: linear-gradient(0deg, rgba(129,0,127,1) 0%, rgba(98,0,157,1) 75%, rgba(63,0,192,1) 97%, rgba(129,0,127,1) 100%);

  }

  .footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
  
  .footer-main .footer-column {
    flex-basis: 23%;
    padding: 10px;
  }

  .footnav{
    text-align: right;
    margin-top: 10px;
    margin-right: 85px;
    margin-bottom: 30px;
}
footer h2{
    color: #fdfdfd;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: underline;
    margin-right: 85px;
}
.footnav ul/*footer ul style*/
{
	text-align: right;
    
    
}
.footnav ul li/*foote list style*/
{
	list-style-type: none;
    display: list-item;
    
}
.footnav ul li a/*footer ancor tag style*/
{
	
  text-decoration-line: none;
	color: rgb(255, 255, 255);
	letter-spacing: 1px;
	font-size: 15px;
}
.foottext1{
  color: rgb(255, 255, 255);
	letter-spacing: 1px;
	font-size: 13px;
  padding-top: 10px;
}
.footnav a:hover {
    color: rgb(237, 211, 116);
}
.social img{
  list-style-type: none;/*to remove bullets*/
  padding-top: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  padding-left: 25px;
  float: left;
  margin-left: 30px;
  transition: 0.6s ease;
    
}
.social img:hover {
        transform: scale(1.5);
        
}

  
  .copyright{
    color: rgb(237, 211, 116);
    text-align: center;
    background-color: #81007f;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: -20px;
    padding-bottom: 10px;
    align-content: center;
    
  
  }



  /*WCU LOGO*/

  .logo1 img{
    height: 70px;
    width: 70px;
  }
  .logo2 img{
    height: 120px;
    width: 120px;
  }
  .logo1, .logo2 {
    float: left;
    padding-bottom: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 10px;
    transition: 0.6s ease;
   
  
  }
  .logo1:hover, .logo2:hover{
    opacity: 0.5;
  
  }

  /*MOBILE VIEW*/
  .hamburger{
    display: none;/* to hide from desktop view*/
  }
  .dropdown{
    display: none;
  
  }


/*MAIN CLASS*/
  .mainclass{
  background-color: #ffc0cb;

   
  }

  /*home page*/

  .homepagecontainer1 {
    position: relative;
    height: 350px; /* Adjust the height as needed */
    margin-top: -20px;

  
  }
  
  .container1text {
    text-align: center;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    

  }
  

  

 .containerimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .homepagecontainer2 {

    position: relative;
    height: 250px;
    background-color: #ffc0cb;


  }
    
  .container2text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    background-color: #81007f;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .container2textbox{
    flex-basis: 58%;
    padding: 10px;

  }
  
  .container2textbox p {
    color: white;
    text-align: justify;
    font-weight: bold;
    
  }

  .container2image{
    float: right;
    margin-top: -265px;
    margin-right: 40px;
    height: 250px;
    width: 450px;
  }
  
  .container2image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /*about page*/

  .abtpagecontainer1 {
    height: 200px; /* Adjust the height as needed */

  
  }
  
  .abtpagecontainer1 .container1textabtpage {

    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: -200px;
    margin-left: 42%;
    

  }

  .abtpagecontainer1 .containerimg {
  object-fit: cover;
  width: 100%;
  height: 100%;    
  margin-top: -20px;

}

.abtcontainer2image{
  display: flex;
  justify-content: center;
  align-items: center;
  
 

}
.imgadd{
  margin-top: -120px;
  width: 600px;
  height: 300px;
  border: 4px solid #0000fe; /* Border width and color */
  border-radius: 5px;
}

.imgadd img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.imgadd p {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  margin-top: -47px;
}

/**/
.abtcontainer3 {
margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81007f;
  height: 450px;
}

.image-section {

  flex: 1;
 
  display: block;
  width: 280px;
  height: 370px;
  margin-left: 75px;


}
.image-section img
{
  width: 280px;
  height: 100%;
  object-fit: cover;
  border: 4px solid #ffffff; /* Border width and color */
  border-radius: 5px;

}

.text-section {
  flex: 1;

  margin-right:50px;
}
.text-section  p{
 color: #ffffff;
}
.text-section h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;

}

.outer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  height: 200px;
}

.inner-container {
  flex-basis: 25%;
  border: 4px solid #b700ef; /* Border width and color */
  border-radius: 5px;
  height: 80px;
  margin-top: 50px;
  background-color: #0000fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.inner-container h2 {
  color: white;
}