
body {
    margin: 0%;
    width: 100%;
    height: 100%;
    font-family: Calibri, sans-serif;


  }
  .topnav {
    background: rgb(129,0,127);
    background: linear-gradient(179deg, rgba(129,0,127,1) 0%, rgba(98,0,157,1) 75%, rgba(63,0,192,1) 97%, rgba(129,0,127,1) 100%);  margin-top: -20px;
  }
  
  .topnav ul{
  text-align: center;
  }
  
  .topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  
  }
  .topnav li{
    list-style-type: none;
  display: inline-block;
  padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  }
  
  .topnav a:hover {
  color: rgb(237, 211, 116);
  
  
  }
  
  .topnav a.active {
  background-color: rgb(255, 202, 10);
  color: rgb(0, 0, 0);
  border-radius: 10px;/*curve of the border */
  border-style: double
  }
  .mobilenav{
    display: none;
  }


  footer/*footer style*/
  {
    background: rgb(129,0,127);
    background: linear-gradient(0deg, rgba(129,0,127,1) 0%, rgba(98,0,157,1) 75%, rgba(63,0,192,1) 97%, rgba(129,0,127,1) 100%);

  }

  .footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
  
  .footer-main .footer-column {
    flex-basis: 23%;
    padding: 10px;
  }

  .footnav{
    text-align: right;
    margin-top: 10px;
    margin-right: 85px;
    margin-bottom: 30px;
}
footer h2{
    color: #fdfdfd;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: underline;
    margin-right: 85px;
}
.footnav ul/*footer ul style*/
{
	text-align: right;
    
    
}
.footnav ul li/*foote list style*/
{
	list-style-type: none;
    display: list-item;
    
}
.footnav ul li a/*footer ancor tag style*/
{
	
  text-decoration-line: none;
	color: rgb(255, 255, 255);
	letter-spacing: 1px;
	font-size: 15px;
}
.foottext1{
  color: rgb(255, 255, 255);
	letter-spacing: 1px;
	font-size: 13px;
  padding-top: 10px;
}
.footnav a:hover {
    color: rgb(237, 211, 116);
}
.social img{
  list-style-type: none;/*to remove bullets*/
  padding-top: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  padding-left: 25px;
  float: left;
  margin-left: 30px;
  transition: 0.6s ease;
    
}
.social img:hover {
        transform: scale(1.5);
        
}

  
  .copyright{
    color: rgb(237, 211, 116);
    text-align: center;
    background-color: #81007f;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: -20px;
    padding-bottom: 10px;
    align-content: center;
    
  
  }



  /*WCU LOGO*/

  .logo1 img{
    height: 70px;
    width: 70px;
  }
  .logo2 img{
    height: 120px;
    width: 120px;
  }
  .logo1, .logo2 {
    float: left;
    padding-bottom: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 10px;
    transition: 0.6s ease;
   
  
  }
  .logo1:hover, .logo2:hover{
    opacity: 0.5;
  
  }

  /*MOBILE VIEW*/
  .hamburger{
    display: none;/* to hide from desktop view*/
  }
  .dropdown{
    display: none;
  
  }


/*MAIN CLASS*/
  .mainclass{
  background-color: #ffc0cb;

   
  }

  /*home page*/

  .homepagecontainer1 {
    position: relative;
    height: 350px; /* Adjust the height as needed */

  
  }
  
  .container1text {
    text-align: center;
    color: white;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(0%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    

  }
  

  

 .containerimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: -20px;

  }
  
  .homepagecontainer2 {

    position: relative;
    height: 250px;
    background-color: #ffc0cb;


  }
    
  .container2text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    background-color: #81007f;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .container2textbox{
    flex-basis: 58%;
    padding: 10px;

  }
  
  .container2textbox p {
    color: white;
    text-align: justify;
    font-weight: bold;
    
  }

  .container2image{
    float: right;
    margin-top: -265px;
    margin-right: 40px;
    height: 250px;
    width: 450px;
  }
  
  .container2image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /*about page*/

  .abtpagecontainer1 {
    height: 200px; /* Adjust the height as needed */

  
  }
  
  .abtpagecontainer1 .container1textabtpage {

    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: -200px;
    margin-left: 42%;
    

  }

  .abtpagecontainer1 .containerimg {
  object-fit: cover;
  width: 100%;
  height: 100%;    
  margin-top: -20px;

}

.abtcontainer2image{
  display: flex;
  justify-content: center;
  align-items: center;
  
 

}
.imgadd{
  margin-top: -120px;
  width: 600px;
  height: 300px;
  border: 4px solid #0000fe; /* Border width and color */
  border-radius: 5px;
}

.imgadd img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.imgadd p {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  margin-top: -47px;
}

/**/
.abtcontainer3 {
margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81007f;
  height: 450px;
}

.image-section {

  flex: 1;
 
  display: block;
  width: 280px;
  height: 370px;
  margin-left: 75px;


}
.image-section img
{
  width: 280px;
  height: 100%;
  object-fit: cover;
  border: 4px solid #ffffff; /* Border width and color */
  border-radius: 5px;

}

.text-section {
  flex: 1;

  padding-right:120px;
}
.text-section  p{
 color: #ffffff;
}
.text-section h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;

}

.outer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  height: 200px;
}

.inner-container {
  flex-basis: 25%;
  border: 4px solid #b700ef; /* Border width and color */
  border-radius: 5px;
  height: 80px;
  margin-top: 50px;
  background-color: #0000fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.inner-container h2 {
  color: white;
}

/* contact page*/

.contactpagecontainer1 {
  height: 200px; /* Adjust the height as needed */


}

.contactpagecontainer1 .container1textcontainerpage {

  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-top: -200px;
  margin-left: 42%;
  

}

.contactpagecontainer1 .containerimg {
object-fit: cover;
width: 100%;
height: 100%;    
margin-top: -20px;

}


.contactcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81007f;
    height: 400px;
  }
  
  .contactcontainer .image-section {
  
    flex: 1;
   
    display: block;
    width: 400px;
    height: 300px;
    padding-right: 100px;
  
  
  }
  .contactcontainer .image-section img
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #ffffff; /* Border width and color */
    border-radius: 5px;
  
  }
  
  .contactcontainer .text-section {
    flex: 1;
    padding-left:100px;
  }
  .contactcontainer .text-section  p{
   color: #ffffff;
   letter-spacing: 1px;
   font-size: 12px;

  }
  .contactcontainer .text-section h3 {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    
  
  }
  .contactcontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc0cb;
    height: 500px;
  }

 .image-section2 {
  
    flex: 1;
   
    display: block;
    width: 150px;
    height: 300px;
    padding-right: 80px;
  
  
  }
  .contactcontainer2 .image-section2 img
  {

    width: 80%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #ffffff; /* Border width and color */
    border-radius: 5px;
    margin-left: 80px;

  
  }

  .contactcontainer2 .form {
    flex: 1;
    padding-left:50px;
  }

  /*contact form*/
  .contact-form {
    max-width: 350px;
    margin: 0 auto;

  }
  
  .contact-form h2 {
    text-align: center;
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
#message{
    height: 150px;

  }
  
  .contact-form button[type="submit"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: block;
  margin: 0 auto;
  border-radius: 20px;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #b700ef;
  }
  

  /* student life page*/

  .stdpagecontainer1 {
    height: 250px; /* Adjust the height as needed */

  
  }
  
  .stdpagecontainer1 .container1textstdpage {

    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: -200px;
    margin-left: 35%;
    

  }

  .stdpagecontainer1 .containerimg {
  object-fit: cover;
  width: 100%;
  height: 100%;    
  margin-top: -20px;

}

.scontainer{
width: auto;
height: fit-content;
}


.studentcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.studentcontainer .image-container {
  position: relative; /* To enable positioning of the text */
  width: 280px;
  height: 280px;
  margin: 10px;
  border: 1px solid #ccc;
}

.studentcontainer .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.studentcontainer .image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 97%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  text-align: center;
  font-weight: bold;
    font-size: 25px;
}

.scontainer .bottom-txt {
  text-align: center;
  margin-top: 20px;
  color: #000000;
  font-weight: bolder;
    font-size: 30px;
    padding-bottom: 25px;

}

.studentcontainer .image-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }



    .stdcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #81007f;
      height: 250px;
    }
    
    .stdcontainer .image-section1 {
      flex: 30;
            display: block;
      width: 180px;
      height: 180px;

    }
    
    .stdcontainer .image-section1 img {
      height: 100%;
      object-fit: cover;
      border: 4px solid #ffffff; /* Border width and color */
      border-radius: 50%;
      width: 180px;

    }
    
    
    .stdcontainer .text-section {
      flex: 60;      padding-left:100px;
    }
    .stdcontainer .text-section  p{
     color: #ffffff;
     letter-spacing: 1px;
     line-height: 1;
     font-size: 15px;
  
    }
    .stdcontainer .text-section h3 {
      color: #ffffff;
      font-weight: bold;
      font-size: 18px;
      
    
    }
    .bar{
      height: 30px;
      background-color: #ffc0cb;

    }

    /*tuition and aid*/
    .tuitionpagecontainer1 {
      height: 250px; /* Adjust the height as needed */
      position: relative;
      z-index: 1;
    
    }
    
    .tuitionpagecontainer1 .container1texttuitionpage {
  
      color: white;
      font-weight: bold;
      font-size: 25px;
      margin-top: -240px;
      margin-left: 25%;
      
  
    }
  
    .tuitionpagecontainer1 .containerimg {
    object-fit: cover;
    width: 100%;
    height: 100%;    
    margin-top: -20px;
  
  }

  
.tuitioncontainers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81007f;
  height: 320px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -100px;
  z-index: 2;

}

.tuitioncontainers .image-sectionx {

  flex: 35%;
 
  display: block;
  width: 400px;
  height: 250px;
  padding-right: 100px;


}
.tuitioncontainers .image-sectionx img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #ffffff; /* Border width and color */
  border-radius: 5px;

}

.tuitioncontainers .text-section1 {
  flex: 50%;
  padding-left:100px;
  margin-right: 20px;
  
}
.tuitioncontainers .text-section1  p{
 color: #ffffff;
 letter-spacing: 1px;
 font-size: 15px;

}
.tuitioncontainers .text-section1 h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  

}

/**/

.mc {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;

  background-color: #81007f;

}

.tc {
  flex: 60;
  padding: 30px;
  padding-left: 60px;
}

.tc p{
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
}

.bc {
  flex: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bc button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ffffff; /* Border width and color */
  border-radius: 5px;
  background-color: #0000fe;
  color: #ffffff;
}

.bc button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



/**/

.mc1{
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../image/aids.jpg');

}

.mccontent {
  display: flex;

}

.pc {
  flex:40%;
    padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 180px;
  border: 4px solid #81007f; /* Border width and color */
  border-radius: 10px;
}
.pc2 {
  flex:40%;
    padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
  margin-top: 20px;
  margin-right: 180px;
  border: 4px solid #81007f; /* Border width and color */
  border-radius: 10px;
}

.mc1 h1{
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;

}

.pc p, .pc2 p{
  text-align: center;
}

.pc p:hover, .pc2 p:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/*admission page*/

.admissiontitle{

  background-color: #81007f;
  align-items: center;
  margin-top: -25px;
  height: 130px;

}

.admissiontitle h2{
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}

.intro{
  height: 70px;
  padding: 25px;
}

/*grid*/

.boxconatiner {
  width: 100%;
  text-align: center;
  background-image: url('../image/blur.jpg');
  height: auto;
  background-size: cover;
  background-position: center;

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;

}

.grid-item {
  text-align: center;
  border: 4px solid #0000fe; /* Border width and color */
  border-radius: 10px;
  background-color: #ffffff;
  width: 250px;
  
}

.grid-item img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.grid-item p {
  margin-top: 10px;
}

.boxconatiner h2{
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}

.grid-item:hover{

  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


/*admission*/


.academintitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81007f;
  height: 320px;
  z-index: 2;



}

.academintitle .image-sectionxx {

  flex: 20%;
  display: block;
  width: 300px;
  height: 250px;
  padding-right: 100px;


}
.academintitle .image-sectionxx img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;

}

.academintitle .text-section1x {
  flex: 75%;
  padding-left:100px;
  padding-right: 20px;
  margin-top: -120px;
  
}
.academintitle .text-section1x  p{
 color: #ffffff;
 letter-spacing: 1px;
 font-size: 15px;

}
.academintitle .text-section1x h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  

}

/*search*/
.searchcontainer {
  text-align: center;
  height: 250px;
}

.searchcontainer h2 {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
}

.search-bar {
  align-items: center;
  margin: 25px;

}

.search-bar input[type="text"] {
  padding: 15px;
  border: 3px solid blue;
  border-radius: 20px;
  width: 700px;

}


.searchcontainer button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ffffff; /* Border width and color */
  border-radius: 5px;
  background-color: #0000fe;
  color: #ffffff;
  margin-bottom: 20px;
}

.searchcontainer button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*box*/

.boxx {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.sub-boxx1 {
  flex: 1;
  background-color: #81007f;

  text-align: center;
margin-top: 20px;
margin-left: 200px;
margin-right: 2px;
border: 2px solid #ffffff; /* Border width and color */
border-radius: 5px;
}
.sub-boxx1:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sub-boxx2 {
  flex: 1;
  background-color: #0000fe;

  text-align: center;
  margin-top: 20px;
  margin-right: 2px;
  border: 2px solid #ffffff; /* Border width and color */
  border-radius: 5px;

}
.sub-boxx2:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.sub-boxx3 {
  flex: 1;
  text-align: center;
  margin-top: 20px;
  margin-right: 2px;
  border: 2px solid #ffffff; /* Border width and color */
  border-radius: 5px;
  background-color: #81007f;


}
.sub-boxx3:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.sub-boxx4 {
  flex: 1;
  background-color: #0000fe;
  text-align: center;
  margin-top: 20px;
  margin-right: 200px;
  border: 2px solid #ffffff; /* Border width and color */
  border-radius: 5px;

}
.sub-boxx4:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.boxx img {
  width: 150px;
  height: auto;
  object-fit: cover;
  padding: 10px;

}

.boxx h3 {
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
}

.boxx p {
  margin-top: 10px;
  color: #ffffff;
  font-size: 12px;
  padding-bottom: 10px;
}